In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
dat = pd.read_csv("datasets/wageGenderEduAge.csv")
display(dat)

      wage  education  age  gender
0     5.10          8   35  female
1     4.95          9   57  female
2     5.71         12   34  female
3     3.35         12   26  female
4     4.00         12   64  female
..     ...        ...  ...     ...
529  12.50         15   31    male
530  16.00         12   30    male
531  11.36         18   29    male
532  19.88         12   31    male
533  15.38         16   55    male

[534 rows x 4 columns]

In [12]:
dat.plot(x='education', y='wage', kind='scatter', color = gender)

NameError: name 'gender' is not defined